* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Calibri";
    line-height: 1;
    max-width: 2280px;
    min-width: 1200px;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #232323;
}

h2.left {
    text-align: left;
    color: #b82a2a;
}

header {
    padding-top: 50px;
}

header .logoWrap {
    float: left;
}
header .headfots {
    float: right;

}

.logo {
    position: relative;
    padding-left: 80px;
}
.logo img {
    position: absolute;
    display: block;
    left: 0px;
    top: 50%;
    margin-top: -31px;
}
.logo span {
    font-size: 44px;
    font-weight: bold;
    color: #da2c2d;
    text-transform: uppercase;
}
.logo p {
    font-size: 21px;
    color: #7b7b7b;
    letter-spacing: 0.075em;
}

.cont {
    float: left;
    padding-top: 20px;
    margin-left: 50px;
}

header .lang {
    float: right;
    padding-top: 15px;
}

.cont a {
    font-size: 18px;
    color: #242424;
    text-decoration: none;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    line-height: 35px;
    vertical-align: middle;
}

.cont a+a {
    margin-left: 30px;
}

.cont a:last-child {
    background-position: left top;
}

.cont .phone {
    font-weight: bold;
    line-height: 24px;
}

header .lang li {
    display: inline-block;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    border: 2px solid #ff0000;
    text-align: center;
    font-size: 14px;
    color: #4d4d4d;
}

header .lang li.active {
    background-color: #ff0000;
    color: #ffffff;
}

header .lang li + li {
    margin-left: 6px;
}

.banner {
    padding: 85px 0px 15px;
    width: 50%;
    position: relative;
}
.banner:after{
    content: '';
    display: block;
    height: 492px;
    width: 792px;
    background: url("../img/header_back.png");
    position: absolute;
    right: -541px;
    top: -90px;
}
.banner h1 {
    font-size: 44px;
    color: #7d7d7d;
    font-weight: normal;
    width: 480px;
}

.banner .wrap {
    margin-top: 75px;
}

.logReg {
    float: left;
}

.clock {
    float: left;
    background-color: #a91918;
    color: #fff;
    padding-left: 30px;
    padding-right: 15px;
    position: relative;
}

.clock:before {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 68px solid #a91918;
    border-left: 0px solid transparent;
    border-right: 32px solid transparent;
}

.clock > span {
    display: inline-block;
}

.clock .date span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.clock .time {
    font-size: 33px;
    line-height: 68px;

}

.logReg a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 68px;
    text-decoration: none;
    display: table;
    background-color: #4a4a4a;
    padding-left: 50px;
    padding-right: 15px;
    float: left;
    border-right: 1px solid #5b5b5b;
    background-repeat: no-repeat;
    background-position: 17px center;
}



.soc span {
    font-size: 18px;
    line-height: 28px;
    color: #242424;
}
.soc ul {
    display: inline-block;
    margin-left: 6px;
}
.soc li {
    width: 28px;
    border-radius: 50%;
    border: 1px solid #ff0000;
    text-align: center;
    display:inline-block;
    transition: all 0.3s;
}
.soc li:hover{
    background-color:#ff0000;
}
.soc li:hover a {
    color: #ffffff;
}
.soc li+li {
    margin-left: 6px;
}

.soc li a {
    display: block;
    line-height: 28px;
    font-size: 14px;
    color: #4b4b4b;
    text-decoration: none;
    transition: all 0.3s;
}
.menu {
    display: table;
    width: 100%;
    height: 58px;
    background-color: #4a4a4a;
}

.menu li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.menu a {
    display: block;
    height: 100%;
    line-height: 58px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
}

.menu li.active {
    background-color: #a91918;
}

.menu li.active a {
    font-weight: bold;
}
.info h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.about {
    padding: 30px;
}
.about p {
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
}

.about p + p {
    margin-top: 18px;

}

.about h3 + p {
    margin-top: 25px;
}
.about a {
    margin-top: 20px;

}

.terms li {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: left center;
}

.terms li + Li {
    margin-top: 17px;
}

.info .wrap a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
.info .about {
    float: left;
    width: 602px;
    background-image: url(../img/about_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.info .terms {
    float: left;
    width: calc(100% - 602px);
    background-image: url(../img/terms_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 30px;
}

.terms h3+ul {
    margin-top: 25px;
}
.terms ul + a {
    margin-top: 30px;
}

/*.adv .item:nth-child(even)*/

.stat .pct {
    position: relative;
    display: inline-block;
    padding: 0 18px;
    background-color: #4a4a4a;
    font-size: 22px;
    line-height: 40px;
    color: #ffffff;
}

.stat .pct:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-left: 16px solid #4a4a4a;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.stat .chart {
    width: 1170px;
    height: 358px;
    background-repeat: no-repeat;
    background-position: center;
}
.adv {
    padding-bottom: 80px;
}
.adv .row {
    margin-top: 50px;
}
.adv .item {
    width: 20%;
    float: left;

}

.adv .item:nth-child(even){
    padding-top:200px;
}

.adv .img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    border: 2px solid #dc2525;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.adv .item:nth-child(odd) .img::before {
    content: '';
    display: block;
    position: absolute;
    left: 72px;
    bottom: -50px;
    width: 190px;
    height: 1px;
    background-color: #a9a9a9;
    transform: rotate(45deg);
}

.adv .item:nth-child(even) .img::before {
    content: '';
    display: block;
    position: absolute;
    left: 72px;
    top: -52px;
    width: 190px;
    height: 1px;
    background-color: #a9a9a9;
    transform: rotate(-45deg);
}

.adv .item:last-child .img::before {
    display: none;
}

.adv .title {
    font-size: 18px;
    text-transform: uppercase;
    color: #242424;
    text-align: center;
    display: block;
}

.adv p{
    font-size: 13px;
    line-height: 15px;
    color: #535353;
    text-align: center;
    margin-top: 15px;
    padding: 0px 25px;

}
.process .row {
    position: relative;
    padding: 0 40px;
}

.process .item {
    float: left;
    width: 20%;
    text-align: center;
}

.process .item span {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: #373737;
}

.process .row:before {
    content:"";
    display: block;
    position: absolute;
    width: 1081px;
    height: 90px;
    top: 20px;
    left: 45px;
    background-image: url(../img/process.png);
}

.bottomline {
    padding: 33px 0px 27px;
}

.bottomline .logo {
    float: left;

}

.bottomline .cont {
    float: left;
}

.bottomline .soc {
    padding-top: 20px;
    float: right;
}
.address{
    width: 645px;
    height: 210px;
    background-color: #781d1e;
}
.address a{
    font-family: Calibri;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.49;
    color: #ffffff;
    line-height: 210px;
}
.address span{
    ont-family: Calibri;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.49;
    color: #ffffff;
}
.address p{
    color: #ffffff;
    padding-top: 23px;
}

.address .item:nth-child(3){
    padding-top: 53px;
}
.address,.reg{
    float: left;
    margin-top: 100px;
    text-align: center;

}
.reg{
    background-color: #f7f8f8;
    height: 210px;
    width: 524px;
}
.reg h2{
    padding-top: 37px;
    display: block;
}
.reg a{
    margin-top: 59px;
    display: block;
}
.address>div{
    float: left;
    width: 33.33%;
}
