@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?res3kb');
  src:  url('fonts/icomoon.eot?res3kb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?res3kb') format('truetype'),
    url('fonts/icomoon.woff?res3kb') format('woff'),
    url('fonts/icomoon.svg?res3kb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\f09a";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-bold:before {
  content: "\ea62";
}
